@use "../scss/mixins";

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;

  pre {
    line-height: 2.7rem;
    font-size: 1.3rem;
    color: var(--tree-color);

    > .tree-title {
      color: var(--tree-title-color);
    }

    > .tree-section-title {
      color: var(--tree-section-title-color);
    }

    > .in-progress {
      color: var(--tree-in-progress-color);
    }

    a {
      color: var(--tree-link-color);
      text-decoration: none;
      &:hover {
        color: var(--tree-link-hover-color);
      }
    }

    @include mixins.respond(tab-port) {
      font-size: 1.5rem;
    }

    @include mixins.respond(phone) {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }

  @include mixins.respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @include mixins.respond(phone) {
    display: flex;
    flex-direction: column;
  }
}

.stack {
  display: flex;
  justify-content: center;

  @include mixins.respond(tab-port) {
    min-width: 50vw;
  }

  @include mixins.respond(phone) {
    min-width: 100vw;
    padding: 5rem 5rem;
    justify-content: start;
  }
}

.about {
  display: flex;

  p {
    line-height: 2.7rem;
    font-family: "Monaco", monospace;
    font-size: 1.3rem;
    color: var(--tree-color);
    padding: 0 6vw;

    @include mixins.respond(tab-port) {
      font-size: 1.5rem;
      line-height: 3rem;
      padding: 10vw;
    }

    @include mixins.respond(phone) {
      font-size: 1.9rem;
      line-height: 3rem;
      padding: 0rem 4rem 5rem 4rem;
    }
  }
}
