@use "./scss/mixins";

.app {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--main-text-color);

  @include mixins.respond(tab-port) {
    height: 100%;
  }

  @include mixins.respond(phone) {
    height: 100%;
  }
}
