@use "./mixins";

@font-face {
  src: url("../scss/fonts/MonacoRegular.ttf") format("truetype");
  font-family: "Monaco";
  font-display: swap;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monaco";
}

html {
  font-size: 62.5%;

  @include mixins.respond(phone) {
    font-size: 60%;
  }

  @include mixins.respond(tab-port) {
    font-size: 60%;
  }

  @include mixins.respond(tab-land) {
    font-size: 56.25%;
  }

  @include mixins.respond(big-desk) {
    font-size: 75%;
  }
}
